body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0; /* wichtig, damit keine Zwischenräume entstehen */
}

h1 {
    font-size: 56px;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}

td {
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    border: 0; /* äußere Linien entfernen */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Innere Linien manuell setzen */
td:not(:last-child) {
    border-right: 5px solid white;
}

tr:not(:last-child) td {
    border-bottom: 5px solid white;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #215fa6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.winner-text {
    color: #649ddf;
    font-size: 32px;
    margin-top: 20px;
    min-height: 40px;
    transition: opacity 0.5s ease;
    text-align: center;
}

.turn-indicator {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #649ddf;
    text-align: center;
}